*{
	/*box-sizing: border-box;*/
}
header{
	font-family: 'Big Shoulders Display', cursive;
	font-size: 96px;
	line-height: 88px;
	color: white;
	position: relative;
	/*padding-top: 190px;*/
	/*padding-left: 11%;*/
	font-weight: 900;
}
body{
	max-width: 1440px;
	line-height: 28px;
	font-size: 18px;
	font-family: 'Outfit',san-serif;
}
.black_background{
	background-color: black;
	width:32%;
	height: 100%;
	float: left;
	/*position: absolute;*/
}
#image-hero{
	background-image: url("./assets/desktop/image-hero.jpg");
	background-repeat: no-repeat;
	width: 60%;
	height:100%;
	margin-left: 31%;
}
.two_divs{
	width: 100%;
	height:800px;
	position: absolute;

}
.lery{
	color:black;
	/*display: inline-block;*/
}
.header-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 25%;
	margin-left: 11%;
	padding-top: 14%;
}
.header-grid-item:first-of-type{
	
}
.header-grid-item:nth-of-type(2n){
	display: flex;
	flex-direction: column;
}
.header-flex-item:first-of-type{
	position: relative;
	width:80%;
	padding-bottom: 48px;
	font-size: 22px;
	line-height: 32px;
	font-family: 'Outfit',san-serif;
	font-weight: 300;
/*	margin-left:67%;
	margin-top: -50px;*/
}

.header-flex-item:nth-of-type(2n){
	position: relative;
	/*float: right;*/
	/*margin-right: 17.5%;*/
}
.lhs{
	background-color: rgb(21, 21, 21);
	width:150px;
	height:30px;
	float: left;
	text-align: center;
	padding: 8px;
	line-height: 30px;
	color: white;
	font-family: 'Big Shoulders Display',cursive;
	letter-spacing: 3px;
	font-weight: 500;
}
.rhs{
	background-color: rgb(213, 150, 108); 
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	padding: 8px;
	line-height: 30px;
}
.gallery_grid{
	display: grid;
	grid-template-columns: 40% 60%;
grid-template-rows: 1fr;
	margin: auto;
	margin-top: 500px;
	width: 80%;
	/*flex-wrap: wrap;*/
align-items:center; 
	grid-gap:20px;
}
.grid-item:first-of-type{
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}
.grid-item:nth-of-type(n+2){
	grid-column: 2 / span 1;
	grid-row: 1/ span 1;
}
.gallery_grid2{
	display: grid;
	grid-template-columns: 60% 40%;
grid-template-rows: 1fr;
	margin: auto;
	margin-top: 20px;
	width: 80%;
	/*flex-wrap: wrap;*/
align-items:center; 
	grid-gap:20px;
}
.grid-item2:nth-of-type(2n){
	display:flex;
	grid-gap: 10px;
	/*grid-template-columns: 100%;
	grid-template-rows:1fr 1fr; */
	flex-direction: column;
	

}
.flex-item2:nth-of-type(2n) header{
		 font-size: 4.167vw;
		 line-height: 3.889vw;
		 color:white;
		 padding: 0;
		 margin: 0;
}
.flex-item2:nth-of-type(2n){
	background-color:rgb(21, 21, 21);
	padding: 4.444vw;
}
.body_m{
	line-height: 2.2vw;
	/*font-size: 22px;*/
	font-size: 2.2vw;
	font-family: 'Outfit',san-serif;
}
.footer{
	margin-top: 100px;
	background-color: rgb(21, 21, 21);
	width: 100%;
	height: auto;
	padding-top:24px; 
	padding-bottom: 24px;
}
.footer-flex{
	display: flex;
	align-items: center;
	width: 95%;
	justify-content: space-around;
	flex-shrink: 1;
	flex-grow: 1;

}
.header-flex-item:nth-of-type(2n):hover .rhs{
	background-color:rgb(21, 21, 21);
}
.header-flex-item:nth-of-type(2n):hover .lhs{
	background-color: rgb(213, 150, 108);
}
.icon:hover{
	fill:red;
	background-color: green;
}
	.footer-flex-item:nth-of-type(n+2){
		 width: 30%;
		 color: white;
	}
.footer-flex-item:nth-of-type(3n){
	display: flex;
	grid-gap: 12px;
}
.icon-facebook{
	background-image: url("./assets/icon-facebook.svg");
	width: 20px;
  	height: 20px;
}
.icon-facebook:hover{
	background-image: url("./assets/icon-facebook-orange.svg");
}
.icon-instagram{
	background-image: url("./assets/icon-instagram.svg");
	width: 20px;
  	height: 20px;
}
.icon-instagram:hover{
	background-image: url("./assets/icon-instagram-orange.svg");	
}
.icon-twitter{
	background-image: url("./assets/icon-twitter.svg");
	width: 20px;
  	height: 17px;
}
.icon-twitter:hover{
	background-image: url("./assets/icon-twitter-orange.svg");
}
@media screen and (max-width: 840px){
	.black_background{
		display: none;
	}
	.gallery_grid{
		width: 95%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.grid-item:first-of-type{
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
}
.grid-item:nth-of-type(n+2){
	grid-column: 1/ span 1;
	grid-row: 2/ span 1;
}
.gallery_grid .grid-item:nth-child(3n){
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
}
.gallery_grid .grid-item:nth-child(4n){
	grid-gap: 20px;
	display: inline-grid;
	flex-direction: column;
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
	justify-content: space-between;
}
	#header{
		color: black;
		font-size: 70px;
		line-height: 65px;
	}
	#i{
		display: none;
	}
	.lery{
		color: black;
	}
	.header-flex-item:first-of-type{
	line-height: 28px;
	font-size: 18px;
	}
	#image-hero{
	background-image: url("./assets/tablet/image-hero.jpg");
	background-repeat: no-repeat;
/*	width: 50%;
	height:100%;*/
	margin-left: 0;
	}
	.header-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 5%;
	margin-left: 50%;
	/*padding-top: 14%;*/
	}
}
@media screen and (max-width: 480px){
	.black_background{
		display: none;
	}
	.gallery_grid{
		width: 95%;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		margin-top: 100px;
	}
	.grid-item:first-of-type{
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}
.grid-item:nth-of-type(n+2){
	grid-column: 1/ span 1;
	grid-row: 1/ span 1;
}
.gallery_grid .grid-item:nth-child(3n){
	grid-column: 1 / span 1;
	grid-row: 3 / span 1;
}
.gallery_grid .grid-item:nth-child(4n){
	grid-gap: 20px;
	display: inline-grid;
	flex-direction: column;
	grid-column: 1 / span 1;
	grid-row: 4 / span 1;
	justify-content: space-between;
}
	#header{
		color: black;
		font-size: 70px;
		line-height: 65px;
	}
	#i{
		display: none;
	}
	.lery{
		color: black;
	}
	.header-flex-item:first-of-type{
	line-height: 28px;
	font-size: 18px;
	}
	#image-hero{
	background-image: url("./assets/mobile/image-hero@2x.jpg");
	background-repeat: no-repeat;
	width: 100%;
	/*height:100%;*/
	margin-left: 0;
	}
	.header-grid{
	grid-gap: 0px;
	width: 95%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: auto;
	padding:0px;
	}
	.two_divs{
		position: relative;
		margin:auto;
		height: 300px;
		padding-bottom: 24px;
	}

	.footer-flex{
		flex-wrap: wrap;
	}
	.footer-flex-item{
		width: 100%;
	}
	.footer-flex-item:nth-of-type(n+2){
		padding: 16px 32px 16px 32px;
		width: 100%;
	}

	.gallery_grid2{
		grid-template-columns: 1fr;
		width: 95%;
	}
	.flex-item2:nth-of-type(2n) header{
		font-size: 50px;
		line-height: 45px;
	}
	.flex-item2:nth-of-type(2n){
		padding: 42px;
	}
	.body_m{
		 font-size: 18px;
		 line-height: 28px;
	}
	.header-grid-item:first-of-type{
		padding-bottom: 48px;
	}
}